
@media ( max-width: 1200px)
  .container, .title-wrapper
    max-width: 920px
  .we-do
    &__wrapper
      display: block
    &__card
      width: 290px
  .slider-card
    width: 300px
    &__subtitle
      margin-bottom: 8px
    &__img
      min-height: 350px
      max-height: 350px
  .reviews
    &-slider
      &__profile
        margin-bottom: 15px
      &__item
        width: 430px
        padding: 35px
      &__button-next
        margin-right: -440px
      &__text
        max-height: 75%
  .social-card
    width: 200px
@media ( max-width: 992px)
  .container , .title-wrapper
    max-width: 700px
    width: 92%
  .navbar
    &__text-container
      max-width: 565px
  .images-block
    &__macbook
      top: 95px
      left: 64%
      height: 480px
    &__iphone
      top: 230px
      left: 64%
      height: 360px
    &__ovals
      top: 265px
      width: 390px
      height: 390px
    &__points
      left: 62%
  .partners
    &-wrapper
      padding-top: 80px
    &__info-block
      margin-bottom: 45px
    &__link
      width: 100px
    &__subtitle
      font-size: 32px
      line-height: 40px
    &__info
      font-size: 16px
      line-height: 30px
  .we-do
    &__services
      justify-content: space-around
    &__wrapper
      width: 87%
  .reviews
    &-slider
      &__item
        width: 95%
      &__button-next
        margin-right: -315px
  .social-card
    width: 40%
    margin-bottom: 48px
  .footer
    padding-top: 90px
    &-wrapper
      justify-content: center
      flex-wrap: wrap
      margin-bottom: 0
    &__info
      margin-right: 0px
      order: 1
      align-items: center
      text-align: center
      margin-top: 47px
    &__product
      width: 130px
    &__service
      width: 130px
    &__company
    &__more
      width: 130px
    &__subfooter
      display: none

@media ( max-width: 768px)
  .container
    max-width: 576px
  .title-wrapper__content
    max-width: 576px
    width: 92%

  .navbar
    &-menu
      &__item
        margin-right: 0
    &__text-container
      display: none
    &__button
      width: 100px
  .title-wrapper
    width: 100%
    max-width: 100%
    display: flex
    flex-direction: column
    align-items: center
    &__content
      align-items: center
      margin: auto
  .title-block
    margin: auto
    &__wrapper
      align-items: center
      margin: auto
  .title
    text-align: center

  .paragraph
    text-align: center
  .button-title
    width: 60%

  .button-next
    order: 2
    width: 48px
    height: 48px
    margin-bottom: 48px

  .images-block
    position: relative
    height: 400px
    width: 100%
    margin-bottom: 35px
    &__macbook
      top: 0
      right: 0
      left: auto
      height: 100%
    &__iphone
      top: 25%
      left: auto
      height: 78%
      right: 370px
    &__ovals
      top: 25%
      height: 390px
      right: -160px
    &__points
      left: auto
      right: 425px
      top: 12%
      height: 30%
  .partners
    &-wrapper
      align-items: center
    &__title
      margin-bottom: 25px
    &__icons
      flex-wrap: wrap
      justify-content: space-around
    &__subtitle
      margin-right: 0
      margin-bottom: 15px
    &__info-block
      align-items: center
      flex-direction: column
      text-align: center
    &__icon
      margin: 0
    &__icons
      margin-bottom: 50px
    &__link
      margin: 0 10px 30px 10px
      width: 22%
      min-width: 95px
  .we-do
    &__card
      width: 250px
      min-height: 197px
      max-height: 250px
  .card
    padding: 23px 18px 7px 23px
    flex-direction: column
    &__title
      margin-bottom: 4px
    &__text
      padding-left: 0
      padding-top: 14px
      min-width: 65%
    &__image
      margin-top: 0
      margin-bottom: 0
  .reviews
    padding-top: 100px
    margin-bottom: 72px
    &-slider
      &__profile
        margin-bottom: 15px
      &__item
        width: 100%
        max-height: 354px
        overflow: hidden
      &__button-wripper
        position: relative
      &__button-next
        position: relative
        display: block
        margin: auto
        transform: none
        right: auto
        top: auto
  .social
    margin-bottom: 23px
    &__subtitle
      margin-bottom: 48px
    &-card
      margin-bottom: 32px
      &__text
        font-size: 14px
        line-height: 19px
      &__subscribe
        font-size: 15px
        line-height: 20px
  .we-ready
    &__title
      font-size: 28px
      line-height: 30px
      margin-bottom: 32px
    &__text
      font-size: 16px
      line-height: 27px
      margin-bottom: 16px
    &__button-talk
      margin-bottom: 64px
  .footer
    &__product
      width: 40%
      min-width: 113px
      margin-bottom: 39px
    &__service
      width: 40%
      min-width: 113px
      margin-right: 0
      margin-bottom: 39px
    &__company
      width: 40%
      min-width: 113px
      margin-right: 30px
    &__more
      width: 40%
      min-width: 113px
      margin-right: 0
    &-list
      &__item
        &--mobile-visible
          display: block
        &--mobile-invisible
          display: none
        &--mb-11
          margin-bottom: 24px
      &__title--mobile-invisible
        display: none
      &__title--mobile-visible
        display: block

@media ( max-width: 576px)
  .navbar
    height: 70px
  .title-wrapper
    padding-top: 30px
  .title
    line-height: 36px
    &__number, &__name, &__country
      font-size: 30px
  .button-title
    margin-bottom: 50px
  .images-block
    height: 300px
    &__macbook

    &__iphone
      right: 270px

    &__ovals
      top: 0

    &__points
      right: 310px
  .partners
    &__subtitle
      width: auto
      font-size: 28px
      line-height: 29px
    &__info
      width: auto
      font-size: 13px
      line-height: 24px
      &-block
        margin-bottom: 25px
  .we-do
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 20px
    &__info
      font-size: 16px
      line-height: 28px

    &__wrapper
      align-items: center
      text-align: center
      width: 350px
      padding-top: 36px
      padding-bottom: 6px
      margin: auto
    &__card
      min-width: 280px
      width: 80%
      margin-bottom: 7px
      &--ux-ui
        order: 1
      &--research
        order: 2
    &__services
      justify-content: center
      padding-bottom: 28px
  .card
    &__image
      width: 32px
      height: 34px
  .title-section
    font-size: 28px
    line-height: 36px
  .subtitle-section
    font-size: 14px
    line-height: 20px

  .slider-card
    width: 280px
    height: 404px
    margin-bottom: 24px
    &__img
      max-height: 300px
      min-height: 300px
      min-width: 100%
    &__text-wrapper
      padding: 20px 10px
      text-align: center
    &__subtitle
      font-size: 14px
      line-height: 20px
    &__title
      font-size: 24px
      line-height: 32px

  .our-project
    &-wrapper
      padding-top: 42px
    &__title
      margin-bottom: 16px
    &__slider-arrows
      display: none
    &__info-block
      width: 100%
      justify-content: center
      margin-bottom: 36px

  .swiper-container--mobile-invisible
    display: none
  .our-project__cards--mobile-visible
    display: flex
  .our-project-wrapper
    display: flex
    flex-direction: column
    align-items: center
  .reviews
    padding-top: 32px
    &-swiper-container
      width: 100%
      margin: auto
      margin-bottom: 24px
    &-wrapper
      text-align: center
    &__subtitle
      margin-bottom: 68px
    &-slider
      &__item
        height: 354px
        padding: 24px 7px 18px 7px
        text-align: center
        width: 99%
      &__avatar
        margin: 0
        margin-bottom: 16px
      &__profile
        flex-direction: column
        align-items: center
        margin-bottom: 6px
      &__name
        margin-bottom: 7px
        font-size: 20px
        line-height: 24px
      &__company
        font-size: 11px
        line-height: 27px
      &__text
        font-size: 14px
        line-height: 22px
  .social
    &-link-wrapper
      width: 100%
    &__subtitle
      margin-bottom: 32px
  .social-card
    height: 199px
    &__image-wrapper
      width: 48px
      height: 48px
      margin-bottom: 15px
    &__image
      width: 28px
    &__name
      margin-bottom: 8px
    &__text
      font-size: 13px
    &__subscribe
      font-size: 11px
  .we-ready
    &__button-talk
      width: 170px

  .footer
    padding-top: 48px
    &-wrapper
      justify-content: flex-start
    &-list
      &__title
        font-size: 16px
        line-height: 22px
        margin-bottom: 18px
      &__item
        font-size: 14px
        line-height: 20px
        margin-bottom: 15px
    &__info
      margin-right: auto
      margin-left: auto
      margin-top: 33px
    &-info
      &__logo
        width: 76px
      &__text
        font-size: 14px
        width: 263px
        margin-bottom: 24px
      &__logo-link
        margin-bottom: 12px

    &__service
      margin-bottom: 25px
    &__product
      margin-bottom: 25px

@media ( max-width: 480px) and ( min-width: 320px)
  .container, .title-wrapper__content
    min-width: 270px

  .title
    margin-bottom: 7px
  .paragraph
    font-size: 16px
    line-height: 28px
    margin-bottom: 18px
  .button-title
    font-size: 16px
    line-height: 22px
    width: 220px
    height: 48px

  .images-block
    height: 235px
    &__macbook

    &__iphone
      right: 210px

    &__ovals
      top: -65px

    &__points
      right: 230px
  .partners
    &-wrapper
      padding-top: 70px
    &__link
      width: 30%
  .we-do
    &__wrapper
      width: 290px
