*
  box-sizing: border-box
body
  //overflow: hidden
.container
  max-width: 1140px
  margin: auto
// img
//   max-width: 100%
a
  text-decoration: none
  &:hover
    text-decoration: underline
h1, h2, h3, h4, p
  margin: 0

.subtitle-section
  font-family: Open Sans
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 19px
  letter-spacing: 2px
  text-transform: uppercase
  color: $blue
.title-section
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 36px
  line-height: 48px
  letter-spacing: 0.2px
  color: $dark-text
