.we-ready
  background-color: $blue
  padding-top: 60px
  position: relative
  &__wrapper
    text-align: center
    color: $white
    position: relative
    z-index: 10

  &__title
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    margin-bottom: 16px
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
  &__text
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    margin-bottom: 50px
  &__button-talk
    margin-bottom: 80px
    border-radius: 12px
    border: none
    outline: none
    width: 220px
    height: 48px
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: $dark-footer
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    -o-transition: all 0.2s ease-in-out
    -moz-transition: all 0.2s ease-in-out
    -webkit-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out
    &:hover
      -o-transform: scale(1.1 , 1.1)
      -ms-transform: scale(1.1 , 1.1)
      -moz-transform: scale(1.1 , 1.1)
      -webkit-transform: scale(1.1 , 1.1)
      transform: scale(1.1 , 1.1)
      -o-transition: all 0.2s ease-in-out
      -moz-transition: all 0.2s ease-in-out
      -webkit-transition: all 0.2s ease-in-out
      transition: all 0.2s ease-in-out
  &__background
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: hidden
  &__circle-big
    position: absolute
    width: 1146px
    height: 1146px
    border-radius: 50%
    background: linear-gradient(to right, transparent 40%, $blue-circle)
    left: 30%
    top: -190px

  &__circle-little
    position: absolute
    width: 768px
    height: 768px
    background: $blue
    border-radius: 50%
    left: 54%
    top: 133px
